<div class="container">

<%# ----------------- MENU CARD YELLOW ----------------- %>
  <div class="card-grey">
    <%= render "shared/yellow_navbar" %>
    <div class="lower-card-grey">
      <h1><%= @quest.name %></h1>
      <h6>
        Level <%= @quest.rank %>
      </h6>
    </div>
  </div>


<%# ----------------- CARD QUEST ----------------- %>

  <div class="card-quest">
    <div class="grid-cellules-quest">
      <h4>Skills needed for <%= @quest.name %></h4>
      <div class="container-cellules-quests">
        <%  @quest.skills.each do |skill| %>
          <div class="cellules-skills">
            <p> <%= skill.name %></p>
          </div>
        <% end %>
      </div>

    <h4>Progress & Rewards</h4>
    <div class="container-cellules-quests">
      <div class="progress">
        <div class="progress-value">
          <div class="dot-spacer">
            <div class="step-dot" data-controller="dropdown" data-action="click->dropdown#toggletrois"></div>
            <div class="step-dot" data-controller="dropdown" data-action="click->dropdown#toggledeux"></div>
            <div class="step-dot" data-controller="dropdown" data-action="click->dropdown#toggle"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="dropdown-toggled" data-dropdown-target="dropdownUn">
      <div class="cellules-skills-drop-positionner">
        <p class="cellules-skills-drop-golds">
          <div class="cellules-skills-coin navbar-element">
            <i class="fa-solid fa-coins"></i>
            <p class="coin-count">
              <%= @quest.reward * 3 %>
            </p>
          </div>
        </p>
        <%  @quest.skills.each do |skill| %>
          <p class="cellules-skills-drop">+1 <%= skill.name %></p>
        <% end %>
      </div>
    </div>
    <div id="dropdown-toggled-deux" data-dropdown-target="dropdowndeux">
      <div class="cellules-skills-drop-positionner">
        <p class="cellules-skills-drop-golds">
          <div class="cellules-skills-coin navbar-element">
            <i class="fa-solid fa-coins"></i>
            <p class="coin-count">
              <%= @quest.reward * 2 %>
            </p>
          </div>
        </p>
      </div>
    </div>
    <div id="dropdown-toggled-trois" data-dropdown-target="dropdowntrois">
      <div class="cellules-skills-drop-positionner">
        <p class="cellules-skills-drop-golds">
          <div class="cellules-skills-coin navbar-element">
            <i class="fa-solid fa-coins"></i>
            <p class="coin-count"><%= @quest.reward %></p>
          </div>
        </p>
      </div>
    </div>
  </div>

    <h4>Description</h4>
    <div class="container-cellules-quests">
      <p><%= @quest.description  %></p>
    </div>
  </div>

<%# ----------------- BOUTON START ----------------- %>

  <div class="yellow-btn-position-fixer-quests-show">
    <span>
      <%= simple_form_for [@quest.category, @quest, UserQuest.new] do |f| %>
        <%= f.input :user_id, input_html: {value: current_user.id}, as: :hidden %>
        <%= f.input :quest_id, input_html: {value: @quest.id}, as: :hidden %>
        <%= f.submit "Start", class: "yellow-large-btn" %>
      <% end %>
    </span>
  </div>

  <%# ----------------- BOUTON RETURN ----------------- %>

  <div>
    <%= link_to  "Return", category_path(@quest.category), class: "yellow-small-btn"%>
  </div>
</div>
