<div class="container">

<%# ----------------- MENU CARD YELLOW ----------------- %>
  <div class="card-grey">
    <%= render "shared/yellow_navbar" %>
    <div class="lower-card-grey">
      <h1><%= @quest.name %><%= @quest.rank %></h1>
    </div>
  </div>


<%# ----------------- CARD QUEST ----------------- %>

  <div class="card-quest">

    <div class="grid-cellules-quest">

      <h4>Skills needed for <%= @quest.name %></h4>
      <div class="container-cellules-quests">
        <div class="cellules-skills">
          <p>Force</p>
        </div>
        <div class="cellules-skills">
          <p>Endu</p>
        </div>
        <div class="cellules-skills">
          <p>Cardio</p>
        </div>
      </div>

      <h4>Progress</h4>
      <div class="container-cellules-quests">
        <div class="progress">
          <div class="progress-value">
            <div class="dot-spacer">
              <div class="step-dot"></div>
              <div class="step-dot"></div>
              <div class="step-dot"></div>
            </div>
          </div>
        </div>
      </div>

      <h4>Rewards</h4>
      <div class="container-cellules-quests">
        <div class="cellules-skills-coin">
          <i class="fa-solid fa-coins"></i> <p class="coin-count"><%= @quest.reward %></p>
        </div>
      </div>

        <h4>Description</h4>
      <div class="container-cellules-quests">
        <p><%= @quest.description  %></p>
      </div>
    </div>
  </div>

<%# ----------------- BOUTON START ----------------- %>

  <div class="yellow-btn-position-fixer-quests-show">
    <span>
      <%= simple_form_for [@quest.category, @quest, UserQuest.new] do |f| %>
        <%= f.input :user_id, input_html: {value: current_user.id}, as: :hidden %>
        <%= f.input :quest_id, input_html: {value: @quest.id}, as: :hidden %>
        <%= f.submit "Start", class: "yellow-large-btn" %>
      <% end %>
    </span>
  </div>

  <%# ----------------- BOUTON RETURN ----------------- %>

  <div>
    <%= link_to  "Return", category_path(@quest.category), class: "yellow-small-btn"%>
  </div>
</div>
