<div class="quest-container">
  <h1>Quest</h1>
  <div class="cards-product">
      <div class="card-product">
        <div class="card-product-infos">
          <h3><%= @quest.name%></h3>
          <p><%= @quest.description  %></p>
          <%= simple_form_for [@quest.category, @quest, UserQuest.new] do |f| %>
            <%= f.input :user_id, input_html: {value: current_user.id}, as: :hidden %>
            <%= f.input :quest_id, input_html: {value: @quest.id}, as: :hidden %>
            <%= f.submit " Start your quest?" %>
          <% end %>
        </div>
      </div>
    <%= link_to  "<- Retour", categories_path %>
  </div>
</div>
