<div class="container">
<%# ------------------------NAVBAR CARD--------------------------- %>
  <div class="navbar-card">
    <div class="nav-item dropdown side-nav-btn">
      <i class="fa-solid fa-angles-right arrow-color" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <div class="dropdown">
          <%= link_to "Quests", categories_path, class: "btn-dropdown" %>
          <%= link_to "Profil", root_path, class: "btn-dropdown" %>
          <%= link_to "Changing Room", skins_path, class: "btn-dropdown" %>
        </div>
      </div>
    </div>
    <div>
      <%= cl_image_tag current_user.show_selected_skin.photo.key, height: 80, width: 80, crop: :scale, crop: :fill, class: "avatar-navbar" %>
    </div>
    <div class="trophy side-nav-btn">
      <i class="fa-solid fa-trophy"></i>
    </div>
  </div>

<%# ------------------------FIRST GRAPH--------------------------- %>

  <div class="card-graph">
    <div class="chart-donut">
      <div class="radar-chart" data-controller="chartpage" data-chartpage-skills-value="<%= @skills.to_json %>">
        <canvas width="850px" height="550px" data-chartpage-target="myChartDeux"></canvas>
      </div>
    </div>
  </div>
</div>
