  <div class="upper-card-grey">
    <div class="nav-item dropdown navbar-element">
      <i class="fa-solid fa-angles-right arrow-color" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <div class="dropdown">
          <%= link_to "Quests", categories_path, class: "btn-dropdown" %>
          <%= link_to "Profil", root_path, class: "btn-dropdown" %>
          <%= link_to "Shop", skins_path, class: "btn-dropdown" %>
        </div>
      </div>
    </div>
    <div class="cellules-skills-coin navbar-element">
      <i class="fa-solid fa-coins"></i> <p class="coin-count"><%= current_user.gold %></p>
    </div>
    <%= link_to skin_path(current_user.show_selected_skin) do %>
      <div class="navbar-element">
        <%= cl_image_tag current_user.show_selected_skin.photo.key, height: 80, width: 80, crop: :scale, crop: :fill, class: "avatar-navbar" %>
      </div>
    <% end %>
  </div>
