<div class="container">

<%# ----------------- MENU CARD YELLOW ----------------- %>
  <div class="card-grey">
    <%= render "shared/yellow_navbar" %>
    <div class="lower-card-grey">
      <h1>Skins List</h1>
    </div>
  </div>

  <%# ----------------- CARD SKIN----------------- %>

  <div class="shop-container">
    <% @skins.each do |skin| %>
      <%= link_to skin_path(skin) do %>
        <div class= "semi-card">
          <div class="shop-element">
            <%= cl_image_tag skin.photo.key, height: 100, width: 100, crop: :scale, crop: :fill %>
          </div>
          <div class="shop-element">
            <strong><%= skin.name %></strong>
          </div>
          <% if skin.user_skins.find_by(user: current_user) %>
            <div class="shop-element">
              Purchased
            </div>
          <% else %>
            <div class="shop-element">
              <div class="cellules-skills-coin navbar-element">
                <i class="fa-solid fa-coins"></i><p class="coin-count"><%= skin.price %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to  "Return", root_path, class: "yellow-small-btn"%>
</div>
