<h1><%= @skin.name %></h1>
<%= cl_image_tag @skin.photo.key, height: 100, width: 100, crop: :fill %>
<p><%= @skin.description %></p>
<p><%= @skin.price %></p>
<%= link_to 'Acheter', skin_user_skins_path(@skin) %>
<%= link_to 'Equiper', new_skin_path %>
