<div class="container">

<%# ----------------- MENU CARD YELLOW ----------------- %>
  <div class="card-grey">
    <%= render "shared/yellow_navbar" %>
    <div class="lower-card-grey">
      <h1><%= @skin.name %></h1>
    </div>
  </div>

<%# ----------------- CARD SKIN ----------------- %>

  <div class= "shop-card">
    <div class="shop-element">
      <%= cl_image_tag @skin.photo.key, gravity: "auto", height: 300, width: 300, crop: :scale, crop: :fill %>
    </div>
    <div class="shop-element">
      <%= @skin.description %>
    </div>
  </div>

<%# ----------------- SKIN ACTION ----------------- %>
  <div class="shop-element">
    <% if @user_skin %>
      <% if @user_skin.selected %>
        <h3>Currently equiped</h3>
      <% else %>
        <%= simple_form_for [@skin, @user_skin] do |f| %>
          <%= f.input :user_id, input_html: {value: current_user.id}, as: :hidden %>
          <%= f.input :skin_id, input_html: {value: @skin.id}, as: :hidden %>
          <%= f.input :selected, input_html: {value: true}, as: :hidden %>
          <%= f.submit "Equiper", class: "yellow-large-btn" %>
        <% end %>
      <% end %>
    <% else %>
      <h3>Price to unlock:</h3>
      <div class="cellules-skills-coin">
        <i class="fa-solid fa-coins"></i><p class="coin-count"><%= @skin.price %></p>
      </div>
      <%= simple_form_for [@skin, UserSkin.new] do |f| %>
        <%= f.input :user_id, input_html: {value: current_user.id}, as: :hidden %>
        <%= f.input :skin_id, input_html: {value: @skin.id}, as: :hidden %>
        <%= f.submit "Acheter", class: "yellow-large-btn" %>
      <% end %>
    <% end %>
  </div>

<%# ----------------- LIEN DE RETOUR ----------------- %>
    <%= link_to "Return", skins_path, class: "yellow-small-btn"%>
</div>
