<div class="container">

<%# ----------------- MENU CARD ----------------- %>

  <div class="card-grey">
    <div class="upper-card-grey">
      <div class="nav-item dropdown deplacer-btn">
        <i class="fa-solid fa-angles-right arrow-color" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <div class="dropdown">
            <%= link_to "Quests", categories_path, class: "btn-dropdown" %>
            <%= link_to "Profil", root_path, class: "btn-dropdown" %>
            <%= link_to "Shop", skins_path, class: "btn-dropdown" %>
          </div>
        </div>
      </div>
      <div class="cellules-skills-coin">
        <i class="fa-solid fa-coins"></i> <p class="coin-count">392</p>
      </div>
      <%= cl_image_tag current_user.show_selected_skin.photo.key, class: "avatar-navbar" %>
    </div>
    <div class="lower-card-grey">
          <h1>Quests List</h1>
    </div>
  </div>

  <%# ----------------- CARD CATEGORIES----------------- %>

  <% @categories.each do |category|%>
    <%= link_to category_path(category) do %>
      <div class="card">
        <h2 class="categories-titles"><%= category.name %></h2>
        <p><%= category.description %></p>
      </div>
    <% end %>
  <% end %>

  <%# ----------------- OTHER CARD ----------------- %>

  <div class="card">
    <h1>Example Card</h1>
  </div>
  <div>
    <%= link_to  "Return", root_path, class: "yellow-small-btn"%>
  </div>
</div>
