<div class="container">

<%# ----------------- MENU CARD YELLOW ----------------- %>
  <div class="card-grey">
    <%= render "shared/yellow_navbar" %>
    <div class="lower-card-grey">
      <h1>Quests List</h1>
    </div>
  </div>

<%# ----------------- CARD CATEGORIES----------------- %>

  <% @categories.each do |category|%>
    <%= link_to category_path(category) do %>
      <div class="card">
        <h1 class="test-font-title"><%= category.name %></h1>
        <p><%= category.description %></p>
      </div>
    <% end %>
  <% end %>

<%# ----------------- OTHER CARD ----------------- %>

  <div>
    <%= link_to  "Return", root_path, class: "yellow-small-btn"%>
  </div>
</div>
