<div class="container">

<%# ----------------- MENU CARD ----------------- %>

  <div class="card-grey">
    <div class="upper-card-grey">
      <div class="nav-item dropdown deplacer-btn">
        <i class="fa-solid fa-angles-right arrow-color" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <div class="dropdown">
            <%= link_to "Quests", categories_path, class: "btn-dropdown" %>
            <%= link_to "Profil", root_path, class: "btn-dropdown" %>
            <%= link_to "Shop", skins_path, class: "btn-dropdown" %>
          </div>
        </div>
      </div>
      <div class="cellules-skills-coin">
        <i class="fa-solid fa-coins"></i> <p class="coin-count">392</p>
      </div>
      <%= cl_image_tag current_user.show_selected_skin.photo.key, class: "avatar-navbar" %>
    </div>
    <div class="lower-card-grey">
      <h1>Quests List</h1>
    </div>
  </div>

<%# ----------------- CARD QUEST ----------------- %>

    <% @category.quests.each do |quest| %>
      <% if quest.rank == current_user.rank_for(quest) %>
        <%= link_to category_quest_path(@category, quest) do %>
          <div class="card">
            <h2 class="title-center-card"><%= quest.name %></h2>
          </div>
        <% end %>
      <% end %>
    <% end %>

<%# ----------------- LIEN DE RETOUR ----------------- %>

    <%= link_to  "Return", categories_path, class: "yellow-small-btn"%>
  </div>
</div>
